{% extends 'layout_movies.html.twig' %}

{% block body_id 'movie_index' %}

{% block main %}
    <h1>{{ 'title.movie_list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.title'|trans }}</th>
            <th>{{ 'label.actors'|trans }}</th>
            <th>{{ 'label.tags'|trans }}</th>
            <th>{{ 'label.quality'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>
                    {% for actor in movie.actors %}
                        <span class="label label-default">{{ actor.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% for tag in movie.tags %}
                        <span class="label label-default">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ movie.getQualityString() }}
                </td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('movie_show', { id: movie.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>

                        <a href="{{ path('movie_edit', { id: movie.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'movie.no_movies_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ pagerfanta(movies, 'twitter_bootstrap3', { routeName: 'movie_index_paginated' }) }}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('movie_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'action.create_movie'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}