{% block extends %}
{{ "{% extends 'layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body_id '"~ entity_singularized ~"_edit' %}" }}
{{ "{% block main %}" }}
    <h1>{{ '{{ title.'~entity_singularized ~ "_list|trans }}" }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th>{{ "{{ 'label."~ field ~"'|trans }}" }}</th>

            {%- endfor %}

                <th>{{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['datetime'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
            
            {%- elseif metadata.type in ['date'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
          
            {%- elseif metadata.type in ['time'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['array'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['boolean'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    <ul>

                    {%- for action in record_actions %}

                        <li>
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ action }}</a>
                        </li>

                    {%- endfor %}

                    </ul>
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% else %}' }}
        <tr>
            <td colspan="4" align="center">{{ 'book.no_records_found'|trans }}</td>
        </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ "{{ pagerfanta("~ entity_pluralized ~", 'twitter_bootstrap3', { routeName: '"~ route_name_prefix ~"_index_paginated' }) }}" }}
    </div>

    {% if 'new' in actions -%}
    <ul>
        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">Create a new entry</a>
        </li>
    </ul>
    {%- endif %}

{{ "{% endblock %}" }}

{{ "{% block sidebar %}
    <div class=\"section actions\">
        <a href=\"{{ path('" ~ route_name_prefix ~ "_new') }}\" class=\"btn btn-lg btn-block btn-success\">
            <i class=\"fa fa-plus\"></i> {{ 'action.create_"~ entity_singularized ~"'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}" }}

{% endblock body %}
